﻿
@{
    ViewData["Title"] = "AjaxCall";

}

<h2>Ajax Call</h2>

<div class="panel panel-primary">
    <div class="panel-heading">
        Test Data from API
    </div>   <!--end of panel-heading -->
    <div class="panel-body">
        <table class="table table-bordered" id="Table">
            <tr>
                <th>Activity Date Time</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>GPS Valid</th>
                <th>Location</th>
                <th>Ignition On</th>
                <th>HDG</th>
                <th>Speed</th>
                <th>Event Sub Type</th>
                <th>ODOMeter</th>
                <th>VehicleID</th>
            </tr>   <!--end of table-row -->
        </table>   <!--end of table -->
    </div> <!--end of Panel-body -->
</div> <!--end of Panel -->

<!--Reference to JQuery-->
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "https://localhost:44332/api/TeletracAPI",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                alert(JSON.stringify(data));

                    var datarow = "<tr>" +
                        "<td id='ActivityDateTime'>" + data.ActivityDateTime + "</td>" +
                        "<td id='Latitude'>" + data.Latitude + "</td>" +
                        "<td id='Longitude'>" + data.Longitude + "</td>" +
                        "<td id='GPSValid'>" + data.GPSValid + "</td>" +
                        "<td id='Location'>" + data.Location + "</td>" +
                        "<td id='IgnitionOn'>" + data.IgnitionOn + "</td>" +
                        "<td id='HDG'>" + data.HDG + "</td>" +
                        "<td id='Speed'>" + data.Speed + "</td>" +
                        "<td id='EventSubType'>" + data.EventSubType + "</td>" +
                        "<td id='ODOMeter'>" + data.ODOMeter + "</td>" +
                        "<td id='VehicleID'>" + data.VehicleID + "</td>" +
                        "</tr>";
                    $('#Table').append(datarow);

                
                console.log(data);
            }, //End of AJAX Success function

            failure: function (data) {
                alert(data.responseText);
            }, //End of AJAX failure function
            error: function (data) {
                alert(data.responseText);
            } //End of AJAX error function

        });
    });
</script>