﻿@model TeletracNavmanSiteKH.Models.PositionModel
@{
    ViewData["Title"] = "Teletrac";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Teletrac Navman</h2>
<h3>Software Exercise</h3>

<div class="container">
    <h2>
        Vehicle Activity
    </h2>

    @using (Html.BeginForm("Teletrac", "home"))
    {
        <div class="form-group" style="@ViewBag.StyleDiv;">
            <table>
                <tr>
                    <td>
                        @Html.Label("Date and Time:")
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.DateAndTime)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("Heading:")
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.Heading)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("Longitude:")
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.Longitude)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("Latidute:")
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.Latitude)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("Speed:")
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.Speed)
                    </td>
                </tr>
            </table>
        </div>
        <button style="@ViewBag.BtnDiv;" type="submit" class="btn btn-primary">Request Data</button>
        <button style="@ViewBag.StyleDiv;" onclick="location.href = 'Teletrac';" type="button" class="btn btn-warning">Reset</button>
    }
</div> 